.example-spacer {
  flex: 1 1 auto;
}

.filters {
  mat-form-field {
      div.mat-form-field-flex {
          align-items: flex-end;
      }

      div.mat-form-field-prefix {
          padding-right: 12px !important;
      }
  }
}

.container {
  height: 100%;
  padding: 20px;
  overflow: auto;
  background-color: rgb(173, 173, 173);
}

.flex-container {
  display: flex;
  flex-direction: column;
}
